@import './mixins/mixin.scss', './keyframes/loading.scss',
	'./variables/variables.scss', './reset/reset.scss', './components/NavBar.scss',
	'./home/Home.scss', './singles/input.scss', './components/SearcBar.scss',
	'./components/Aside.scss', './components/MainC.scss', './singles/icon.scss',
	'./singles/title.scss', './components/GamesSportCard.scss',
	'./components/assets.scss', './components/presentation.scss',
	'./components/detail.scss', './components/description.scss',
	'./components/comment.scss', './singles/text.scss', './singles/image.scss',
	'./components/AssetsVideoImage.scss', './components/developers.scss',
	'./components/filters.scss', './components/games.scss',
	'./components/card.scss', './components/cards.scss',
	'./components/changepage.scss', './components/button.scss',
	'./components/filselect.scss', './components/favorits.scss', './data/data.scss';
.main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	/* align-items: center; */
	/* padding: 6rem; */
	padding: 1em;
	min-height: 100vh;
	gap: 1em;

	/* background: red; */
	@include responsive($first-query) {
		@include flex(row, wrap, flex-start, center, 0.5em);
	}
}
