.input {
	@include flex(row, nowrap, center, center, 1.5em);
	// background: red;
	background: $color-back;
	padding: 0.5em;
	border-radius: 0.5em;
	width: 100%;
	&__i {
		width: 2em;
	}
	&__input {
		width: calc(100% - 2em);
		// background: blue;
		height: 100%;
		outline: none;
		border: none;
	}
}
