.button {
	background: $color-buttons;
	padding: 0.4em 0.6em;
	border-radius: 0.3em;
	transition: 0.5s ease;
	cursor: pointer;
	font-size: 1.1em;
	font-weight: bold;
	@include responsive($second-query) {
		padding: 0.1em 0.3em;
		font-size: 0.9em;
	}
	&:hover {
		opacity: 0.8;
	}
}
